#title {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
}

#button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#move-login {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    min-width: 300px;
    max-width: 800px;
    min-height: 200px;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}
