
#title {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
}

#button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
    
}

#move-login, #move-event {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right :200px;
    margin-left : 200px;
}

h4 {
    margin-top: 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}