#title {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

#main {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: auto;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

button:hover {
    background-color: #0056b3;
}
