body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
}

#Event_List {
    max-width: 800px;
    margin: 30px auto 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#event_remove_div {
    display: none;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.event-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    position: relative;
}

.event {
    width: 95%;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.event h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.event h4 {
    color: #ff5050;
    width: fit-content;
}


#logout,
#event_generate {
    display: block;
    margin: 20px auto;
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout:hover,
.event:hover,
#event_generate:hover {
    background-color: #0056b3;
}

.event-list #childDiv {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    width: 80%;
    margin-left: 10%;
    display: inline-block;
    top: 10px;
}

.event-list #childDiv div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

#event_remove_div {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#event_remove_div label {
    display: block;
    margin-bottom: 10px;
}

#event_remove {
    padding: 8px;
    font-size: 16px;
    width: 200px;
}

#remove {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff5050;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#remove:hover {
    background-color: #e60000;
}

#event_remove_button {
    display: block;
    margin: 20px auto; /* Center the button horizontally */
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#event_remove_button:hover {
    background-color: #0056b3;
}


