#title {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

#member {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.member-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 250px;
    float: left;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-card h2 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.member-card p {
    margin: 0;
    text-align: left;
    color: #666;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

button:hover {
    background-color: #0056b3;
}

