<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/css/index-style.css">
</head>

<body>
<div id=title>
    <h1>블록체인을 이용한 티켓거래 시스템</h1>
    <br>
    <h3>졸업시켜주세요</h3>
</div>

<div id=button class=large-box>
    <div id=move-login>
        <h2>로그인</h2>
        <button id="login" onclick="location.href='login'">login</button>
    </div>
</div>

</body>
</html>