<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login-style.css">
</head>

<body>
    <div id = title>
        <h1>로그인</h1>
    </div>

    <br>

    <div id = main>
        ID <input type = "text" id = "user_ID"><br>
        PS <input type = "password" id = "user_PW"><br>
        <button id = "login">로그인</button>
        <button onclick="location.href='register'">회원가입</button>
    </div>

    <br>

    <script src = "/js/login-send.js"></script>

</body>
</html>