<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>로그인</title>
    </head>
    <body>
        <div>
            <h2 class = "title">로그인</h2>
        </div>
        <br>
        <!--로그인창-->
        <div>
            ID <input type = "text" id = "user_ID"><br>
            PW <input type = "text" id = "user_PW"><br>
            <button id = "login">로그인</button>
            <button onclick="location.href='register'">회원가입</button>
        </div>

        <br>
        <!--임시 버튼들-->


        <script src = "/js/login-send.js"></script>

    </body>
</html>