<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 생성하기</title>
    <link rel="stylesheet" href="/css/manager-event-generate-style.css">
</head>
<body>
<h1>이벤트 생성하기</h1>
<div id="event_generate">
    이벤트 이름: <input type="text" id="event_name"><br>
    이벤트 좌석: 행 <input type="number" id="event_seatCol"> 열 <input type="number" id="event_seatRow"><br>
    <button id="generate">생성하기</button>
    <button id="return" onclick="location.href='manager-event'">되돌아가기</button>
</div>

<script src="/js/manager-generate.js"></script>
</body>
</html>