<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 생성하기</title>
    <link rel="stylesheet" href="/css/manager-event-generate-style.css">
</head>
<body>
<h1>이벤트 생성하기</h1>
<div id="event_generate">
    이벤트 이름: <label for="event_name"></label><input type="text" id="event_name"><br>
    이벤트 좌석: <br>
    <label for="event_seatRow">행 </label><input type="number" id="event_seatRow">
    <label for="event_seatCol">열 </label><input type="number" id="event_seatCol"> <br>
    <label for="event_startTime">시작시간</label><input type="text" id="event_startTime" placeholder="2023-11-27T11:00">
    <label for="event_endTime">종료시간</label><input type="text" id="event_endTime" placeholder="2023-11-28T23:00">
    <button id="generate">생성하기</button>
    <button id="return" onclick="location.href='manager-event'">되돌아가기</button>
</div>

<script src="/js/manager-generate.js"></script>
</body>
</html>