<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>회원가입</title>
    </head>
    <body>
        <div>
            <h2 class = "title">회원가입</h2>
        </div>
        <br>
        <!--회원가입창-->
        <div>
            생성할 아이디 <input type = "text" id = "n_ID"><br>
            생성할 비밀번호 <input type = "password" id = "n_PW"><br>
            이름 <input type = "text" id = "username"><br>
            나이 <input type = "number" id = "age"><br>
            이메일 <input type = "email" id = "email"><br>
            성별<br>
            <input type="radio" name="gender" value="MALE"> 남성
            <input type="radio" name="gender" value="FEMALE"> 여성<br>
            휴대폰 번호 <input type = "text" id = "phoneNumber"><br>
            <span id="example" style="color: #666;">ex)01012345678 or 010-1234-5678</span>
            <br>
            <button id = "submit">생성하기</button>
        </div>

        <script src = "/js/register-send.js"></script>

    </body>


</html>