<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>좌석선택</title>
    <link rel="stylesheet" href="/css/seat-styles.css">
</head>
<body>
    <h1>좌석을 선택하세요</h1>
    <div id="seatingPlan"></div> <!--좌석 표시 부분-->

    <button id="bookSeats">선택한 좌석 예약</button>
<!--    <button id="login">로그아웃</button-->

    <div id="reservedSeatsText">
        <h2>예약한 좌석 목록</h2>
        <ul></ul>
    </div>

    <script src="/js/seat-book.js"></script></body>
</html>