<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>좌석 선택</title>
    <link rel="stylesheet" href="/css/user-event-seat-styles.css">
</head>
<body>
<a th:attr="User-Event=${userEvent}"></a>
<a th:attr="All-Seat=${allReservedSeat}"></a>
<a th:attr="User-Seat=${userReservedSeat}"></a>
<a th:attr="row=${row}"></a>
<a th:attr="col=${col}"></a>

<div id=title>
    <h1>좌석을 선택하세요</h1>
</div>

<div id=select>
    <div id="seatingPlan"></div>
    <button id="bookSeats">선택한 좌석 예약</button>
    <button id="return" onclick="location.href='user-event'">되돌아가기</button>
</div>

<br>

<div id="reservedSeatsText">
    <h2>예약한 좌석 목록</h2>
    <ul></ul>
</div>

<script src="/js/user-seat-book.js"></script>
</body>
</html>